.header{
    z-index: 99;
}

.main {
    z-index: 9;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    min-height: 300px;
    
    color: rgb(17, 14, 14);
}