.header__main { 
    top: 0;
    position: sticky;
    z-index: 999;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: rgb(17, 14, 14);
    
}

.header__title {
    margin-inline-start: 20px;
    color: whitesmoke;
}






