.loginPage {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 300px;
    padding: 0 15px;
    width: 100%;
  }
  
  .loginPage__title {
    margin: auto;
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgb(17, 14, 14);
    color: whitesmoke;
    border-radius: 20px;
  }

  .loginPage__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(17, 14, 14);
    border-radius: 20px;
    height: 300px;
  }

  
  .loginForm__field {
    padding: 10px 0;
    width: 250px;
  }
  
  .loginForm__submit {
    margin-top: 10px;
    width: 100%;
  }

  .footer {
    bottom: 0px;
    text-align: center;
    height: 30px;
    margin-top: 20px;
    color: whitesmoke;
    background-color: rgb(17, 14, 14);
}


